---
title: About
tags: navigation
order: 4

heroTitle: We are a creative agency with talented people.
heroLabel: Contact us
heroLink: /contact
heroImages: 
    - Image1.webp
    - Image2.webp
    - Image1_1.webp
    - Image2_1.webp

gridTitle: Meet the team
---

{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block main %}
    {{ components.grid(collections.team, gridTitle, gridItemButton, gridLabel, gridLink)}}
{% endblock main %}