---
title: About
tags: navigation
order: 4
heroTitle: We are a creative agency with talented people.
heroLabel: Contact us
heroLink: /contact
heroImages: 
    - Image1.png
    - Image2.png
    - Image1_1.png
    - Image2_1.png
gridTitle: Meet the team
gridItems: 
    - heading: John Doe
      image: Rectangle2.png
      description: Founder and CEO
      link: mailto:john.doe@clean.be
    - heading: Mac Johnson
      image: Rectangle2_1.png
      description: Prototyper
      link: mailto:mac.johnson@clean.be
    - heading: Francis McDonald
      image: Rectangle2_2.png
      description: Product Designer
      link: mailto:francis.mcdonald@clean.be
    - heading: Jane Smith
      image: Rectangle2_3.png
      description: Front-end developer
      link: mailto:jane.smith@clean.be
    - heading: Mark Cuban
      image: Rectangle2_4.png
      description: Back-end developer
      link: mailto:mark.cuban@clean.be
---

{% extends "layouts/grid.njk" %}