---
title: Blog
tags: navigation
order: 2
pageTitle: Interested in what we have to say?
gridItems: 
    - heading: Why 11ty rocks!
      image: Rectangle2_5.webp
      description: Eleventy is our favourite Static Site Generator, we'll tell you why.
      link: /blog/why-11ty-rocks
    - heading: Notepads are cool
      image: Rectangle2_6.webp
      description: We skipped Notion and other apps, we're going back to basics.
      link: /blog/notepads-are-cool
    - heading: You designed with us
      image: Rectangle2_7.webp
      description: We held a User Experience workshop, and it was amazing.
      link: /blog/you-designed-with-us
    - heading: Semantic HTML
      image: Rectangle2_8.webp
      description: Explore the significance of semantic HTML in creating well-structured and accessible web content
      link: /blog/semantic-html
    - heading: Efficient Workflow with CSS Preprocessors
      image: Rectangle2_9.webp
      description: Demystify CSS preprocessors such as Less and Sass, unveiling their role in streamlining stylesheet management.
      link: /blog/effictient-workflow-with-css-preprocessors
    - heading: Accessibility in Design
      image: Rectangle2_10.webp
      description: Address the principles of accessible design, emphasizing the need for inclusivity in digital products.
      link: /blog/accessibility-in-design
    - heading: Web Design Trends 2024
      image: Rectangle2_11.webp
      description: Forecast upcoming trends in web design, considering aesthetics, functionality, and user interaction. 
      link: /blog/web-design-trends-2024
    - heading: Typography Mastery
      image: Rectangle2_12.webp
      description: Investigate the art of typography in web design.
      link: /blog/typography-mastery
    - heading: The Art of CSS Animation
      image: Rectangle2_13.webp
      description: Explore the world of CSS animation, illustrating how subtle motion can elevate user engagement.
      link: /blog/the-art-of-css-animation
    - heading: Design Thinking in Web Development
      image: Rectangle2_14.webp
      description: Introduce the concept of design thinking as a problem-solving methodology.
      link: /blog/design-thinking-in-web-development
    - heading: The Non-Designer's Design Book
      image: Rectangle2_15.webp
      description: For a deeper understanding of design principles, this is a must read.
      link: /blog/the-non-designers-design-book
gridItemButton: true
---

{% extends "layouts/grid.njk" %}