---
title: Blog
tags: navigation
order: 2
pageTitle: Interested in what we have to say?

gridItemButton: true
---

{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block main %}
    {{ components.grid(collections.blog, gridTitle, gridItemButton, gridLabel, gridLink)}}
{% endblock main %}