---
title: Contact
tags: navigation
order: 5
pageTitle: Get in touch, we’ll get back to you.

listLabel: Send us an email
listLink: mailto:info@clean.be
---

{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block main %}
    {{ components.listing(collections.contact, listTitle, listLabel, listLink)}}
    <img class="banner-image" src="/assets/images/Rectangle2_29.webp" alt="impression_of_ghent">
{% endblock main %}