---
title: Cookie Policy
tags: policy
order: 1
pageTitle: Nom, nom, nom. Let’s talk about cookies.
---

{% extends "layouts/default.njk" %}

{% block main %}
    <p>This is the cookie policy page</p>
{% endblock main %}