---
title: Home
tags: navigation
order: 1

heroTitle: We’re Clean, but we get our hands dirty.
heroLabel: Our projects
heroLink: /projects
heroImages: 
  - Image1_2.webp
  - Image2_2.webp

listTitle: Our projects
listLabel: See all our work
listLink: /projects

gridTitle: Read our latest news
gridItemButton: true
gridLabel: Read our blog
gridLink: /blog
---

{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block main %}
    {{ components.listing(collections.project | getFirstAmountInList(3), listTitle, listLabel, listLink)}}
    {{ components.grid(collections.blog | getFirstAmountInList(3), gridTitle, gridItemButton, gridLabel, gridLink)}}
{% endblock main %}