---
title: Home
tags: navigation
---

{% extends "layouts/default.njk" %}

{% block main %}
    <h1>The quick brown fox jumps over the lazy dog.</h1>
    <h2>The quick brown fox jumps over the lazy dog.</h2>
    <h3>The quick brown fox jumps over the lazy dog.</h3>
    <h4>The quick brown fox jumps over the lazy dog.</h4>
    <p class="large-text">The quick brown fox jumps over the lazy dog.</p>
    <p>The quick brown fox jumps over the lazy dog.</p>
{% endblock main %}