---
title: Home
tags: navigation
order: 1
heroTitle: We’re Clean, but we get our hands dirty.
heroLabel: Our projects
heroLink: /projects
heroImages: 
    - Image 1_2.png
    - Image 2_2.png
listTitle: Our projects
listItems: 
    - link: /projects/uber
      left: 21.02.2024
      middle: Uber
      right: Rebranding
    - link: /projects/stonks
      left: 12.01.2024
      middle: Stonks
      right: Webdesign
    - link: /projects/gmail
      left: 06.11.2023
      middle: Gmail
      right: Webdevelopment
listLabel: See all our work
listLink: /projects
gridTitle: Read our latest news
gridItems: 
    - heading: Why 11ty rocks!
      image: Rectangle 2_5.png
      description: Eleventy is our favourite Static Site Generator, we'll tell you why.
      link: /blog/why-11ty-rocks
    - heading: Notepads are cool
      image: Rectangle 2_6.png
      description: We skipped Notion and other apps, we're going back to basics.
      link: /blog/notepads-are-cool
    - heading: You designed with us
      image: Rectangle 2_7.png
      description: We held a User Experience workshop, and it was amazing.
      link: /blog/you-designed-with-us
gridItemButton: true
gridLabel: Read our blog
gridLink: /blog
---

{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block main %}
    {{ components.listing(listTitle, listItems, listLabel, listLink) }}
    {{ components.grid(gridTitle, gridItems, gridItemButton, gridLabel, gridLink)}}
{% endblock main %}