---
title: Privacy Policy
tags: policy
order: 2
pageTitle: Privacy matters, learn about our policy.
---

{% extends "layouts/default.njk" %}

{% block main %}
    <p>This is the privacy policy page</p>
{% endblock main %}