---
title: Projects
tags: navigation
order: 3
pageTitle: We make digital experiences.
gridItems: 
    - heading: Uber
      image: Rectangle 2_16.png
      description: Rebranding
      link: /projects/uber
    - heading: Stonks
      image: Rectangle 2_21.png
      description: Webdesign
      link: /projects/stonks
    - heading: Gmail
      image: Rectangle 2_22.png
      description: Webdevelopment
      link: /projects/gmail
    - heading: Nike
      image: Rectangle 2_19.png
      description: Appdevelopment
      link: /projects/nike
    - heading: Google Home
      image: Rectangle 2_24.png
      description: Appdevelopment
      link: /projects/google-home
    - heading: Sleep Cycle
      image: Rectangle 2_25.png
      description: Appdesign
      link: /projects/sleep-cycle
    - heading: Unsplash
      image: Rectangle 2_26.png
      description: Webdesign
      link: /projects/unsplash
    - heading: CardMapper
      image: Rectangle 2_27.png
      description: Appdesign
      link: /projects/cardmapper
    - heading: twitter
      image: Rectangle 2_28.png
      description: Rebranding
      link: /projects/twitter
gridItemButton: true
---

{% extends "layouts/grid.njk" %}