---
title: Projects
tags: navigation
order: 3
pageTitle: We make digital experiences.

gridItemButton: true
---

{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block main %}
    {{ components.grid(collections.project, gridTitle, gridItemButton, gridLabel, gridLink)}}
{% endblock main %}