---
title: Projects
tags: navigation
order: 3
pageTitle: We make digital experiences.
---

{% extends "layouts/grid.njk" %}

{% block content %}
    <p>This is the projects page</p>
{% endblock content %}