:root {
    --light: hsl(51, 16%, 91%);
    --dark: hsl(0, 0%, 10%);
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DM_Sans/DMSans-Medium.woff2') format('woff2'),
        url('../fonts/DM_Sans/DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Literata';
    src: url('../fonts/Literata/Literata-Regular.woff2') format('woff2'),
        url('../fonts/Literata/Literata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ══════════════════════════════════════════════════════════════════════════════════════
════════════════════════════════════════ GENERAL ════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

body {
    font-family: 'DM Sans', sans-serif;
    color: var(--dark);
    background-color: var(--light);
}

.body__inner {
    max-width: 80rem;
    margin: 0 auto;
}

body *::selection {
    background-color: hsla(52, 29%, 85%, 0.8);
}

h1, h2, h3, h4 {
    font-family: 'Literata', serif;
}

/* Display Text */
h1 {
    font-size: 5rem;
    line-height: 5.625rem;
}

/* Display Sans */
h2 {
    font-size: 3.75rem;
}

/* Display Small */
h3 {
    font-size: 2.5rem;
}

/* Display Smaller */
h4 {
    font-size: 1.5rem;
}

/* Medium Large Text */
.large-text {
    font-size: 1.5rem;
}

/* Medium Text */
p, a  {
    font-size: 1.25rem;
}

h3, h4, p {
    padding-bottom: 3.75rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.header__inner, .main__inner, .footer__inner {
    padding: 0 3.75rem;
}

/* ══════════════════════════════════════════════════════════════════════════════════════
════════════════════════════════════ HEADER + FOOTER ════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

.header__inner, .footer__inner {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
}

/* ----------------------------------- Navigation ------------------------------------ */

.main-nav, .policies-nav {
    display: flex;
    gap: 2rem;
}

/* ══════════════════════════════════════════════════════════════════════════════════════
═════════════════════════════════════════ MAIN ══════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

/* ----------------------------------- Top Section ------------------------------------ */

.top-section {
    border-bottom: 2px solid var(--dark);
    margin-bottom: 5rem;
}

.top-section__inner {
    text-align: center;
    max-width: 756px;
    margin: 0 auto;
    padding-top: 5rem;
}

.top-section__inner, .top-section__description {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.top-section__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.top-section__link::before {
    content: '';
    display: block;
    width: 3rem;
    height: 3rem;
    background: url('../images/icon-arrow.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

/* ------------------------------------- Button --------------------------------------- */

.button {
    display: inline-block;
    color: white;
    background-color: var(--dark);
    padding: 2rem 4rem;
    border-radius: 6.25rem;
    transition: 0.3s;
}

.button:hover {
    opacity: 0.9;
}

/* ----------------------------------- Hero Section ----------------------------------- */

.hero {
    border-bottom: 2px solid var(--dark);
    margin-bottom: 5rem;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.hero__title {
    max-width: 36.625rem;
}

/* ----------------------------------- Detail Section --------------------------------- */

.detail-section {
    margin: 0 auto;
    max-width: 47.25rem;
}

.detail-section ul {
    padding-bottom: 3.75rem;
    padding-left: 1.5rem;
}

.detail-section li {
    font-size: 1.25rem;
    list-style-type: disc;
}