{% import "components/button.njk" as buttons %}

{% macro hero(heroTitle, heroLabel, heroLink, heroImages) %}
    <section class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">{{ heroTitle }}</h1>
            {{ buttons.button(heroLabel, heroLink) }}
        </div>
    </section>
    <section class="image-collection">
        <div class="image-collection__inner">
            {% for image in heroImages %}
                <img class="image-collection__image" src="/assets/images/{{ image }}" alt="Impression">
            {% endfor %}
        </div>
    </section>
{% endmacro %}

{% macro topSection(pageTitle, description, category) %}
    <section class="top-section">
        <div class="top-section__inner">
            <h1 class="top-section__title">{{ pageTitle }}</h1>
            {% if description %}
                <p class="large-text top-section__description">{{ description }}</p>
            {% endif %}
            {% if category %}
                <a href="/{{ category }}" class="large-text top-section__link">Go back</a>
            {% endif %}
        </div>
    </section>
{% endmacro %}