{% import "components/button.njk" as buttons %}

{% macro hero(heroTitle, heroLabel, heroLink, heroImages) %}
    <section class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">{{ heroTitle }}</h1>
            {{ buttons.button(heroLabel, heroLink) }}
        </div>
    </section>
    <section class="image-collection">
        <div class="image-collection__inner">
            {% for image in heroImages %}
                <img class="image-collection__image" src="/assets/images/{{ image }}" alt="Impression">
            {% endfor %}
        </div>
    </section>
{% endmacro %}

{% macro topSection(pageTitle, description, category) %}
    <section class="top-section">
        <div class="top-section__inner">
            <h1 class="top-section__title">{{ pageTitle }}</h1>
            {% if description %}
                <p class="large-text top-section__description">{{ description }}</p>
            {% endif %}
            {% if category %}
                <a href="/{{ category }}" class="large-text top-section__link">Go back</a>
            {% endif %}
        </div>
    </section>
{% endmacro %}

{% macro listing(listTitle, listItems, listLabel, listLink) %}
    <section class="listing">
        <div class="listing__inner">
            {% if listTitle %}
                <h2 class="listing__title">{{ listTitle }}</h2>
            {% endif %}
            <ul class="listing__list">
                {% for item in listItems %}
                    <a href="{{ item.link }}" target="{{ item.target }}">
                        <li class="listing__item">
                            <div class="listing__group">
                                <div class="listing__left">
                                    {{ item.left }}
                                </div>
                                {% if item.middle %}
                                    <div class="listing__middle">
                                        {{ item.middle }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="listing__right">
                                {{ item.right }}
                            </div>
                        </li>
                    </a>
                {% endfor %}
            </ul>
            <div class="listing__button">
                {{ buttons.button(listLabel, listLink) }}
            </div>
        </div>
    </section>
{% endmacro %}

{% macro grid(gridTitle, gridItems, gridItemButton, gridLabel, gridLink) %}
    <section class="grid">
        <div class="grid__inner">
            {% if gridTitle %}
                <h2 class="grid__title">{{ gridTitle }}</h2>
            {% endif %}
            <ul class="grid__list">
                {% for item in gridItems %}
                    <a href="{{ item.link }}">
                        <li class="grid__item">
                            <div class="grid__image">
                                <img src="/assets/images/{{ item.image }}" alt="impression">
                                {% if gridItemButton %}
                                    <div class="grid__arrow"><img src="/assets/images/icon-arrow.svg"></div>
                                {% endif %}
                            </div>
                            <div class="grid__content">
                                <p class="grid__heading large-text">{{ item.heading }}</p>
                                <p class="grid__description">{{ item.description }}</p>
                            </div>
                        </li>
                    </a>
                {% endfor %}
            </ul>
            {% if gridLabel %}
                <div class="grid__button">
                    {{ buttons.button(gridLabel, gridLink) }}
                </div>
            {% endif %}
        </div>
{% endmacro %}