{% import "components/button.njk" as buttons %}

{% macro hero(heroTitle, heroLabel, heroLink, heroImages) %}
    <section class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">{{ heroTitle }}</h1>
            {{ buttons.button(heroLabel, heroLink) }}
        </div>
    </section>
    <section class="image-collection">
        <div class="image-collection__inner">
            {% for image in heroImages %}
                <img class="image-collection__image" src="/assets/images/{{ image }}" alt="Impression">
            {% endfor %}
        </div>
    </section>
{% endmacro %}

{% macro topSection(pageTitle, description, category) %}
    <section class="top-section">
        <div class="top-section__inner">
            <h1 class="top-section__title">{{ pageTitle }}</h1>
            {% if description %}
                <p class="large-text top-section__description">{{ description }}</p>
            {% endif %}
            {% if category %}
                <a href="/{{ category }}" class="large-text top-section__link">Go back</a>
            {% endif %}
        </div>
    </section>
{% endmacro %}

{% macro listing(data, listTitle, listLabel, listLink) %}
    <section class="listing">
        <div class="listing__inner">
            {% if listTitle %}
                <h2 class="listing__title">{{ listTitle }}</h2>
            {% endif %}
            <ul class="listing__list">
                {% for item in data %}
                    <a href="{{ item.data.link }}" {% if item.data.target %} target="{{ item.data.target }}" {% endif %}>
                        <li class="listing__item">
                            <div class="listing__group">
                                {% if item.data.time %}
                                    <div class="listing__left">
                                        {{ item.data.time }}
                                    </div>
                                {% endif %}
                                <div class="listing__middle">
                                    {{ item.data.title }}
                                </div>
                            </div>
                            <div class="listing__right">
                                {{ item.data.description }}
                            </div>
                        </li>
                    </a>
                {% endfor %}
            </ul>
            <div class="listing__button">
                {{ buttons.button(listLabel, listLink) }}
            </div>
        </div>
    </section>
{% endmacro %}

{% macro grid(data, gridTitle, gridItemButton, gridLabel, gridLink) %}
    <section class="grid">
        <div class="grid__inner">
            {% if gridTitle %}
                <h2 class="grid__title">{{ gridTitle }}</h2>
            {% endif %}
            <ul class="grid__list">
                {% for post in data | sortByOrderReverse %}
                    <a href="{{ post.data.link }}">
                        <li class="grid__item">
                            <div class="grid__image">
                                <img src="/assets/images/{{ post.data.thumbImage }}" alt="impression">
                                {% if gridItemButton %}
                                    <div class="grid__arrow"><img src="/assets/images/icon-arrow.svg"></div>
                                {% endif %}
                            </div>
                            <div class="grid__content">
                                <p class="grid__heading large-text">{{ post.data.title }}</p>
                                <p class="grid__description">{{ post.data.description }}</p>
                            </div>
                        </li>
                    </a>
                {% endfor %}
            </ul>
            {% if gridLabel %}
                <div class="grid__button">
                    {{ buttons.button(gridLabel, gridLink) }}
                </div>
            {% endif %}
        </div>
    </section>
{% endmacro %}