{% import "components/button.njk" as components %}

{% macro hero(heroTitle, heroLabel, heroLink) %}
    <section class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">{{ heroTitle }}</h1>
            {{ components.button(heroLabel, heroLink) }}
        </div>
    </section>
{% endmacro %}