{% extends "layouts/base.njk" %}

{% block body %}
    {% include "partials/header.njk" %}
    <main>
        <article class="main__inner">
            {% block main %}
            {{ content | safe }}
            {% endblock main %}
        </article>
    </main>
    {% include "partials/footer.njk" %}
{% endblock body %}