{% import "components/general.njk" as components %}

{% extends "layouts/base.njk" %}

{% block body %}
    {% include "partials/header.njk" %}
    <main>
        <article class="main__inner">
            {% if heroTitle %}
                {{ components.hero(heroTitle, heroLabel, heroLink)}}
            {% endif %}
            {% if pageTitle %}
                {{ components.topSection(pageTitle, description, category)}}
            {% endif %}
            {% block main %}
            {{ content | safe }}
            {% endblock main %}
        </article>
    </main>
    {% include "partials/footer.njk" %}
{% endblock body %}