{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block main %}
    {{ components.grid(gridTitle, gridItems, gridItemButton, gridLabel, gridLink)}}
{% endblock main %}