{% import "components/topSection.njk" as components %}

{% extends "layouts/default.njk" %}
{# includes top-section#1 + grid #}

{% block main %}
    {{ components.topSection(pageTitle, description, goBack) }}
    {% block content %}
        
    {% endblock content %}
{% endblock main %}